<mat-card>
    <mat-form-field class="flex-item">
        <input matInput class="form-control" style="text-align:center"  placeholder="Oyuncu Ad Soyad"
            [(ngModel)]='eklenecek_oyuncu.OyuncuAdSoyad'>
    </mat-form-field >

    <mat-form-field class="flex-item">
        <input matInput class="form-control" style="text-align:center"  placeholder="Başlama Tarihi"
            [(ngModel)]='eklenecek_oyuncu.BaslamaTarihi'>
    </mat-form-field >
    
    <mat-form-field  class="flex-item">
        <input matInput class="form-control" style="text-align:center"  placeholder="Ayrılış Tarihi"
            [(ngModel)]='eklenecek_oyuncu.AyrilisTarihi'>
    </mat-form-field >

    <mat-form-field class="flex-item">
        <input matInput class="form-control" style="text-align:center"  placeholder="Başlama Puan"
            [(ngModel)]='eklenecek_oyuncu.BaslamaPuan'>
    </mat-form-field >

    <mat-form-field  class="flex-item">
            <input matInput class="form-control" style="text-align:center"  placeholder="Doğum Yılı"
                [(ngModel)]='eklenecek_oyuncu.Dogum_Yili'>
        </mat-form-field >

    <div>
        <button mat-raised-button  color="primary" (click)="OyuncuEkle()">Ekle</button>

        <mat-checkbox  [(ngModel)]="_isEditMode">Düzenleme Modu (yaş sıralama için önemli)</mat-checkbox>
   
    </div>

</mat-card>


<mat-card class="row" style="text-align:center" id="puanListeContainer">

    <table class="table table-bordered" style="margin: auto">
        <thead>
            <tr>
                <th style="text-align: center">Sıra No</th>
                <th style="text-align: center;min-width: 160px">Oyuncu Ad Soyad</th>
                <th style="text-align: center">Baslama Tarihi</th>
                <th style="text-align: center">Ayrılış Tarihi</th>
                <th style="text-align: center" >Başlama Puan</th>
                <th style="text-align: center" >Doğum Yılı</th>
      
                <th>#</th>

            </tr>
        </thead>

        <tbody>

            <ng-container *ngIf="_isEditMode">
                    <tr  *ngFor="let o of oyuncular | async; let sira=index" class="{{o.Grup}}">
                            <td style="text-align: center">{{sira+1}}</td>
                            <td >
                                <input   style="text-align:center" 
                                [(ngModel)]='o.OyuncuAdSoyad'>
    
                            </td>
                         
                           
                            <td style="text-align: center">
                                    <input  style="text-align:center;width:100px" 
                                    [(ngModel)]='o.BaslamaTarihi'>
                 
                            </td>
                           
                           
                            <td style="text-align: center">
                                <input   style="text-align:center;width:100px" 
                                [(ngModel)]='o.AyrilisTarihi'>
    
                            
                            </td>
                            <td style="text-align: center;font-weight: bold;">
                                    <input  style="text-align:center;width:50px" 
                                    [(ngModel)]='o.BaslamaPuan'>
        
                                
                            </td> 
    
                           
    
                            <td style="text-align: center;font-weight: bold;">
                                    <input   style="text-align:center;width:50px" 
                                    [(ngModel)]='o.Dogum_Yili'>
        
                            </td> 
    
    
                            <td>
                                <button mat-raised-button (click)="OyuncuSil(o.key)">Sil</button>
                                <button mat-raised-button (click)="OyuncuGuncelle(o.key,o)" >Güncelle</button>
                            
                            </td>              
                            
                        </tr>
            </ng-container>
    
             
            <ng-container *ngIf="!_isEditMode">
                    <tr  *ngFor="let o of oyuncular | async; let sira=index" class="{{o.Grup}}">
                            <td style="text-align: center">{{sira+1}}</td>
                            <td >
                                <span *ngIf="!_isEditMode">{{o.OyuncuAdSoyad}}</span>
    
                            </td>
                         
                           
                            <td style="text-align: center">
                                 <span *ngIf="!_isEditMode">{{o.BaslamaTarihi}}</span>
                                
                            </td>
                           
                           
                            <td style="text-align: center">
                                <span *ngIf="!_isEditMode">{{o.AyrilisTarihi}}</span>
                            
                            </td>
                            <td style="text-align: center;font-weight: bold;">
                                <span *ngIf="!_isEditMode">{{o.BaslamaPuan}}</span>
                            </td> 
    
    
                            <td style="text-align: center;font-weight: bold;">
                                <span *ngIf="!_isEditMode">{{o.Dogum_Yili}}</span>
                            </td> 
    
    
                            <td>
                                <button mat-raised-button (click)="OyuncuSil(o.key)">Sil</button>
                                <button mat-raised-button (click)="OyuncuGuncelle(o.key,o)" >Güncelle</button>
                            
                            </td>              
                            
                        </tr>
            </ng-container>


        </tbody>
    </table>

  
</mat-card>
