<mat-card>
    <p>
     Daha önceden Klüp ve dönem adı tanımını yaptıysanız, <br/>
    
      http://selcukrating.com/kulüp adınız/döneminiz<br/>
    
      adresinden giriş yapınız... ****
    
    
    </p>
    
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Klüp Kısa Adı (tek kelime ufak harflerle)"[(ngModel)]="klup" >
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Dönem Adı" [(ngModel)]="donem" >
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Grup Bölünmeleri 5,5,4,4 gibi yada 4,4,4" [(ngModel)]="grupElememanSayilari" >
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Maça Gelmedi Skoru" [(ngModel)]="macagelmediSkoru" >
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Rating Sistem Kodu" [(ngModel)]="ratingSistemKodu" >
      </mat-form-field>
    
      <div>
        <button (click)="RatingGrupOlustur()" style="width:200px;float: right" mat-raised-button color="primary">Rating Oluştur</button>
      </div>
    
      <mat-card *ngIf="klup_url">
    
          <mat-card-content >
            <p>
                Adrese girip oyuncuları tanımlayarak kullanabilirsiniz... Başarılar :)
            </p>
    
            <p>
                <a routerLink={{klup_url}}>{{klup_url}}</a>
                
            </p>
           
    
          </mat-card-content>
        
        </mat-card>
     
     
        
      <div>
        Deploy : Travis CI
      </div>
    </div>
    </mat-card>
    